$alert-box-size: 640px !default;

$dark-orange: #c85942;
$dark-purple: #da0ea0;
$light-beige: #ccb39a;
$white-accent: #fff;
$black-accent: rgb(0, 0, 0);
$background-colour: #000;
$white: #fff;
$black: #333;
$pink: #ffc0cb;
$highlighter: #f00;
$accent: #2fd5ff;

$background-gradient: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

$background-footer: linear-gradient(0deg , rgba(34 , 193 , 195 , 1) 0% , rgba(253 , 187 , 45 , 1) 100%);


$font-size: 1.4em;
$line: 1.4;
$magic-number: $font-size * $line;
